<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
 
	<div>
		<form method="POST" enctype="multipart/form-data" th:action="@{/importFile}" th:object="${textFile}">

			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" th:field="*{file}"  />
				<p th:if="${#fields.hasErrors('file')}" th:errors="*{file}" th:errorclass="fieldError">Incorrect date</p>
				
				</td></tr>
				
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
		
		<form th:action = "@{/home}" method = "get">
			<button class = "goHome" type = "Submit">Go to Home page</button>
		</form>
	</div>
 
	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" ></a>
			</li>
		</ul>
	</div>
	

</body>
</html>