<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Registration Form</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="/resources/js/ajax.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
<!--  <link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />-->

</head>
<body>
	<div id="result">
		<div id="errors"></div>
		<div id="success"></div>
	</div>
	<form th:action="@{/home}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
	</form>

	<div id="global">

		<form id="registrationForm" action="#" th:action="@{/admin/registration}"
			th:object="${user}" method="post">
			<fieldset>
				<legend>
					<span th:text="#{user.form.title}">Add a Employee</span>
				</legend>
				<ul th:if="${#fields.hasErrors('*')}">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
						is incorrect</li>
				</ul>
				<p>
					<label for="username"><span
						data-th-text="#{user.form.username}">User Name</span></label> <input
						type="text" id="username" th:field="*{username}" />
					<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
						th:errorclass="fieldError">Incorrect username</p>
				</p>
				<p>
					<label for="password"><span th:text="#{user.form.password}">Password:
					</span></label> <input type="password" th:field="*{password}" />
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
						th:errorclass="fieldError">Incorrect password</p>
				</p>
				<p>
					<label for="active"><span th:text="#{user.form.active}">Active:
					</span></label> <input type="checkbox" th:field="*{active}" th:value="true"/>
				</p>

				<p>
					<label for="roles">Roles </label> <select th:field="*{roles}"
						id="dropRoles" size="4" multiple="true">
						<!--    <option value="0">--Select roles--</option>-->
						<option th:each="role : ${roles}" th:value="${role.id}"
							th:text="${role.roleName}"></option>
					</select>

				</p>

				<p>
					<label for="person">Person </label> <select th:field="*{person}"
						id="dropPerson" size=10>
						<option value="0">--Select person--</option>
						<option th:each="per : ${persons}" th:value="${per.id}"
							th:text="${per.firstName}"></option>
					</select>

				</p>


				<input type="submit" id="submitNewUserBtn" value="Create User" />
			</fieldset>
		</form>
	</div>
</body>
</html>