<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Student Report</title>
</head>
<body>
<div class="container text-center">
	<h2 class = "text-primary">This is the Student view attendance info</h2>
<br /><br />
	<fieldset>
		<legend>Cumulative attendance info</legend>
		<h4>
			<label>Total sessions possible: </label> <span class="text-success"
				th:utext="${totalSessionsPossible}"></span> <br/> 
				<label>Total sessions attended: </label> <span class="text-success"
				th:utext="${totalSessionsAttended}"></span> <br/> 
				<label>Percent attendance: </label> <span class="text-success"
				th:utext="${percentTotal}"></span>
		</h4>
	</fieldset>
	<br />
	<form id="studentReport" action="#" th:action="@{/student/report}"
		th:object="${newBlock}" method="post">
		<p>
			<label>Block: </label> <select id="dropBlock" size="1"
				th:field="*{id}">
				<option th:each="block : ${blocks}" th:value="${block.id}"
					th:text="${block.blockName}"></option>
			</select> 
		</p>
		<button class="btn btn-default btn-lgtext-center" type="Submit">Get data</button><br><br>
	</form>

	<label>Sessions in block: </label>
	<span class="text-success" th:utext="${sessions}"></span> <br />
	<label>Days present: </label>
	<span class="text-success" th:utext="${daysPresent}"></span> <br />
	<label>Percentage attended: </label>
	<span class="text-success" th:utext="${percent}"></span> <br />
	<label>Extra credit points: </label>
	<span class="text-success" th:utext="${extraCredit}"></span>
	<br/>
	<table class="table table-striped">
		<tr>
			<th class="text-center">Date</th>
			<th class="text-center">Present</th>
		</tr>
		<tr th:each="report : ${reports}">
			<td th:text="${report.session}"></td>
			<td th:text="${report.present}"></td>
		</tr>
	</table>
	<br />

			<div class="col-md-8 col-sm-offset-2 text-center">
		<form th:action="@{/home}" method="get">
		<button class="btn btn-link btn-lg" type="Submit">Go To Home Page</button>
		</form>
		</div>
	</div>
</body>
</html>